# {{ ansible_managed }}
BACKUP_PATHS="{{ profile.paths|join(' ') }}"
RESTIC_KEEP="{%- if profile.keep is defined -%}
{% for k, v in profile.keep.items() %} --keep-{{ k }}={{ v }}{% endfor %}
{%- endif %}"

RESTIC_PROFILE="{{profile.name}}"
RESTIC_EXCLUDE="{% for pattern in profile.exclude|d([]) %} -e "{{ pattern }}"{% endfor %}"
RESTIC_OPTIONS="{% if profile.options is defined %}{% for k, v in profile.options.items() %} -o "{{ k }}={{ v }}"{% endfor %}{% endif %}"
RESTIC_FLAGS="{{ profile.extra_flags|d([])|join(' ') }}"
{% if profile.check is defined %}
RESTIC_CHECK_FLAGS="{% if profile.check == 'all' %}--read-data{% else %}--read-data-subset={{ profile.check }}{% endif %}{{ profile.check_flags|d([])|join(' ') }}"
{% endif %}
RESTIC_PRUNE_FLAGS="{{ profile.prune_flags|d([])|join(' ') }}"

RESTIC_REPOSITORY="{{ profile.storage.repository }}"
RESTIC_PASSWORD="{{ profile.password }}"

RESTIC_TAGS="{% if profile.tags|d([])|length > 0 %}--tag {{ profile.tags|d([])|join(' --tag ') }}{% endif %}"

{% for k, v in profile.storage.items() %}
{% if k != "repository" %}
{{ k|upper }}="{{ v }}"
{% endif %}
{% endfor %}

