# {{ ansible_managed }}
BACKUP_PATHS="{{ profile.paths|join(' ') }}"
RESTIC_KEEP="{% for k, v in profile.keep.items() %} --keep-{{ k }}={{ v }}{% endfor %}"

RESTIC_PROFILE="{{ profile.name }}"
RESTIC_EXCLUDE='{% for pattern in profile.exclude|d([]) %} -e "{{ pattern }}"{% endfor %}'
RESTIC_OPTIONS="{% if profile.options is defined %}{% for k, v in profile.options.items() %} -o "{{ k }}={{ v }}"{% endfor %}{% endif %}"
RESTIC_FLAGS="{{ profile.extra_flags|d([]) | join(' ') }}"
{% if profile.check is defined %}
RESTIC_CHECK_FLAGS="{% if profile.check == 'all' %}--read-data{% else %}--read-data-subset={{ profile.check }}{% endif %}{{ profile.check_flags|d([]) | join(' ') }}"
{% endif %}
RESTIC_PRUNE_FLAGS="{{ profile.prune_flags | d([]) | join(' ') }}"
RESTIC_TAGS="{{ profile.tags | map('regex_replace', '^(.*)$', '--tag \\1') | join(' ') }}"

RESTIC_PASSWORD_FILE="{{restic_conf_dir}}/.{{ profile.name }}.secret"

RESTIC_REPOSITORY="{{ profile.storage.repository }}"
RESTIC_PASSWORD="{{ profile.password }}"
{% if profile.storage.repository2 is defined %}
RESTIC_REPOSITORY2="{{ profile.storage.repository2 }}"
RESTIC_PASSWORD2="{{ profile.password }}"
{% endif %}

{% for var in profile.storage.keys()|difference(['repository', 'repository2']) %}
{{ var|upper }}="{{ profile.storage[var] }}"
{% endfor %}

