[Unit]
Description=Run restic backup task using %I profile
Documentation=man:restic(1)
Documentation=https://restic.readthedocs.io/en/stable/

Conflicts=restic@.service
Conflicts=restic-prune@.service
Conflicts=restic-check@.service

[Timer]
OnCalendar={{ restic_prune_schedule }}
RandomizedDelaySec={{ restic_timer_randomized_delay }}
Persistent=true

[Install]
WantedBy=timers.target
